body {
    display: flex;
    flex-direction: column;
}
header {
    background-color: yellow;
}
#banner {
    display:flex;
    flex-direction: row;
}
h1 {
    margin: auto;
}
main {
    display: flex;
    flex-direction: row;
}
#left {
    width: 10%;
    background-color: white;
}
#middle {
    width: 80%;
    background-color: blue;
}#right {
    width: 10%;
    background-color: white;
}
footer {
    background-color: green;
}